container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_upgrade_pip_for_venv:
    command: "source /opt/python/run/venv/bin/activate && /opt/python/run/venv/bin/pip install --upgrade pip"
  03_pycurl_reinstall:
    command: 'source /opt/python/run/venv/bin/activate && PYCURL_SSL_LIBRARY=openssl pip install --compile pycurl --global-option="--with-openssl"'
  04_mkdir_for_log_and_pid:
        command: "mkdir -p /var/log/celery/ /var/run/celery/"
  05_celery_configure:
        command: "cat .ebextensions/files/celery_configuration.txt > /opt/elasticbeanstalk/hooks/appdeploy/post/celery-worker.sh && chmod 744 /opt/elasticbeanstalk/hooks/appdeploy/post/celery-worker.sh"
        cwd: "/opt/python/ondeck/app"
  06_celery_run:
        command: "/opt/elasticbeanstalk/hooks/appdeploy/post/celery-worker.sh"